@import "../css/base.scss";

.zmiti-choose-main-ui {
	z-index: -1;
	opacity: 0;
	@include transition(1s opacity);

	&.show {
		z-index: 103;
		opacity: 1;
	}

	.zmiti-text {
		width: 9rem;
		margin: .5rem auto;
		color: #fff;
		text-align: center;
		font-size: .5rem;

		span {
			color: #ffb912;
		}

	}

	.zmiti-all-words {
		width: 9rem;
		margin: 0 auto;
		@include pos(r);

		li {
			$height: 5vh;
			@include transition(.4s);
			//overflow: hidden;
			height: $height;
			text-align: center;
			line-height: $height;
			width: 2.5rem;
			float: left;
			@include br(4px);
			$color: #1a8cdc;
			//border: 1px solid #ffd200;
			font-weight: bold;
			box-sizing: border-box;
			//@include pos(r);
			background: #ff7f12;
			color: #fff;
			font-size: .4rem;
			margin: .3rem 0;
			@include pos(r);

			&:before {
				content: '';
				@include pos(a);
				width: 2.7rem;
				height: 6.4vh;
				left: -.1rem;
				top: -.7vh;
				border: 2px solid #ff7f12;
				@include br(4px);
				box-sizing: border-box;
				//rgba(255, 127, 18, .5);
				z-index: 10;
			}

			img {
				@include pos(a);
				width: .4rem;
				right: 0;
				top: 0;
			}

			&.active {
				&:before {
					border: 2px solid #ffd200;
				}

			}

			/* @include pos(a);
			left: 0;
			top: 0; */
			&.zmiti-word-animate-enter-active, &.zmiti-word-animate-leave-active {
				@include transition(.4s);
			}

			&.zmiti-word-animate-enter {
				opacity: 0;
			}

			&.zmiti-word-animate-leave-to {
				opacity: 0;
				//transform: translateY(-4rem);
			}

			&:nth-of-type(3n-1) {
				margin: .3rem .75rem;
			}

			&:after {
				content: '';
				clear: both;
			}

		}

	}

	.zmiti-choose-btn {
		width: 3rem;
		height: 1rem;
		text-align: center;
		line-height: 1rem;
		color: #fff;
		background: #ff7f12;
		@include br(20px);
		font-size: .5rem;
		@include pos(a);
		bottom: 4rem;
		left: 3.5rem;
	}

	.zmiti-pv {
		@include pos(a);
		width: 100%;
		height: 1rem;
		bottom: 2.6rem;
		line-height: 1rem;
		text-align: center;
		color: #fff;
		font-size: .5rem;

		span {
			font-size: .7rem;
			color: #ffd200
		}

	}

	.zmiti-line {
		clear: both;
		@include fly-h-gradient-line;
		width: 9rem;
		margin: .5rem auto .6rem;
		height: .5px;
	}

}
